

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  scroll-behavior: smooth !important;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.flexEnd {
  @apply flex items-center justify-end;
}

/* Navbar */
.navbar {
  @apply py-4 px-8 gap-4;
  box-shadow: rgba(2, 1, 1, 0.1) 0px 5px 20px -5px;
  backdrop-filter: saturate(180%) blur(10px);
}


::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

.tools-icons.gr path,
.tools-icons.lu path, 
.tools-icons.lu rect,
.tools-icons.hi path,
.tools-icons.tb path:not([stroke="none"]){
  stroke: #3b82f6 !important;
}

.tools-icons.lia path,
.tools-icons.fa path, 
.tools-icons.vcs path,
.tools-icons.tfi path,
.tools-icons.cg path,
.tools-icons.fa6 path,
.tools-icons.bs path,
.tools-icons.lu path,
.tools-icons.ai path,
.tools-icons.md path:not([fill="none"]){
  fill: #3b82f6 !important;
}



.navbar-tool-list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.navbar-tool-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

.hljs-ln-numbers {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	color: #ccc;
	border-right: 1px solid rgba(204, 204, 204, 0.514);
	vertical-align: top;
	word-break: normal; /* Avoid a line break on large line numbers */
}
 
.hljs-ln td:nth-child(1) {
	padding-right: 10px;
}
 
.hljs-ln td:nth-child(2) {
	padding-left: 10px;
}

.skeleton-loader-box-animation{
  @apply inline-block relative overflow-hidden bg-loader-color 
}

.skeleton-loader-box-animation::after{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 5s infinite;
  animation: shimmer 5s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}